{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}
        	<a href="{% url 'logout' %}">logout</a>
      	{% else %}
		<div class="form">	
			<form action="{% url 'authorized' %}" method="post">{% csrf_token %}
				<label for="username">Login:</label>
				<input type="text" name="username" value="" id="username">
				<label for="password"> hasło:</label>
				<input type="password" name="password" value="" id="password">
				<input type="submit" value="zaloguj" />
			</form>
		</div>
	
		Nie masz konta? <a href="{% url 'register_user' %}"> Zarejestruj się!</a>
	{% endif %}
{% endblock %}
